<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> <%= block_ref.title %> </title>
	<style type="text/css">
		table , tr , th , td 
		{
			border:2px solid blue;
			border-collapse: collapse;
			column-width: 4cm;		
		}
	</style>
</head>
<body>
	<a href="<%= block_ref.getUrl('Category' , 'grid' , false , { name : 'vishal' , college : 'gecr' }); %>" ><button type="button" >Category</button></a>
	<table>
		<tr>
			<% for(const [key , value] of Object.entries(block_ref.getHeader()) ){ %>
				<th>
					<%= value['title'] %>			
				</th>
			<% } %>
		</tr>

		<!-- <% var headers = Object.keys(block_ref.getHeader()) %> -->
		<% var header_values = Object.values(block_ref.getHeader()) %>
		<% var headers = header_values.map(function(element){ return element.index; }) %>
		<!-- <% console.log( headers ); %> -->

		<% for(const row of block_ref.getCollection() ){ %>
			<tr>
				<% for(const [key , value] of Object.entries(row.getData()) ){ %>
					<% if(headers.includes(key)){ %>
						<td>
							<%= value %>
						</td>
					<% } %>
				<% } %>
			</tr>
		<% } %>
		
		
	</table>

	<p><%= block_ref.getUrl("Category" , "grid" , false , { name : "vishal" , college : "gecr" }); %></p>
</body>
</html>
